.articles,
.article-type {

  .intro {
    padding-top: $spacer*2;

    @include media-breakpoint-up(lg) {
      padding-top: $spacer*3;
    }
  }

  .article-list {
    padding-top: $spacer;
    padding-bottom: $spacer;
    overflow: hidden;

    .type-heading {
      margin-bottom: $spacer*2;
      font-weight: normal;
      color: rgba($body-color, 0.75);
      position: relative;
      display: inline-block;
      font-size: 1.5rem;

      &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: rgba($body-color, 0.75);
        position: absolute;
        left: 100%;
        top: 50%;
        width: 100vw;
        margin-left: 0.5em;
      }
    }

    .article-heading {
      a {
        color: inherit;

        &:hover {
          color: theme-color("primary");
        }
      }
    }

    .article-group {
      padding-bottom: $spacer*2;
    }

    .preview {
      padding-bottom: $spacer;
      border-bottom: solid 1px $gray-100;
      margin-bottom: $spacer;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
