.articles,
.article-type {

  .intro {
    padding-top: $spacer*2;

    @include media-breakpoint-up(lg) {
      padding-top: $spacer*3;
    }
  }

  .article-list {
    padding-top: $spacer;
    padding-bottom: $spacer;

    .type-heading {
      margin-bottom: $spacer;
    }

    .article-group {
      padding-bottom: $spacer*2;
    }

    .preview {
      padding-bottom: $spacer;
      border-bottom: solid 1px $gray-100;
      margin-bottom: $spacer;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
