.home {

  .main-nav {
    .dropdown-toggle {
      @include button-variant($gray-900, $gray-900);
    }
  }

  .banner {

    .container {
      display: flex;
      align-items: center;
    }

    .image {
      @include media-breakpoint-up(lg) {
        flex-basis: 50%;
        background-size: cover;
        background-position: center;
        min-height: 380px;
        align-self: stretch;
      }
    }

    .text {
      padding-top: $spacer*3;
      padding-bottom: $spacer*3;

      @include media-breakpoint-up(lg) {
        flex-basis: 50%;
        padding-left: $spacer*3
      }

      & > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 600;
        margin-top: $spacer;

        svg {
          fill: currentColor;
          width: 2em;
          height: 2em;
          margin-right: 0.5em;
        }
      }
    }
  }

  .features {
    @include make-row();
    padding-top: $spacer*3;

    .feature {
      @include make-col-ready();
      padding-bottom: $spacer*3;

      svg {
        width: 4rem;
        height: 4rem;
        fill: theme-color("primary");
      }

      a {
        font-weight: 600;
      }

      @include media-breakpoint-up(md) {
        @include make-col(4);
      }

      @include media-breakpoint-up(lg) {
        font-size: $font-size-lg;
      }

    }
  }

  .about {
    padding-bottom: $spacer*3;
    padding-top: $spacer*3;
    border-top: solid 1px $gray-300;

    .intro {
      @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
      }
    }
    .image {
      padding-top: $spacer*3;
      padding-bottom: $spacer*2;
      text-align: center;
    }
    .body {
      padding-top: $spacer*2;

      @include media-breakpoint-up(xl) {
        column-count: 2;
        column-gap: $spacer*4;
        column-rule: 1px solid $gray-200;
      }
    }
  }

  .newsletter {
    @include rev-out($gray-700);
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}
