<ul>
 <li>
   <a class="{% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
     {{ bag('global_content').home_label }}
   </a>
 </li>
 {% for href, title in bag('sections').iteritems() %}
 <li class="{% if this._path == href %}active{% endif %}">
   <a href="{{ href|url }}">
     {{ title }}
   </a>
     {% set children = site.get(href).children %}
     {% if children %}
     <ul>
       {% for child in children %}
         <li class="{% if this._path == child.path %}active{% endif %}">
           <a href="{{ child.path }}">{{ child.title }}</a>
         </li>
       {% endfor %}
     </ul>
     {% endif %}
 </li>
 {% endfor %}
</ul>
