<ul>
 <li>
   <a class="{% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
     {{ bag('global_content').home_label }}
   </a>
 </li>
 {% for href, title in bag('sections').iteritems() %}

 {% if title == 'Articles' %}
 <li class="{% if this._path == href %}active{% endif %}">
   <a href="{{ href|url }}">
     {{ title }}
   </a>
   <ul>
   {% for t in site.query('/article-types') %}
     {% set children = t.children %}
     {% if children %}
     <li class="mm-divider">
       {% if t.plural %}
       {{ t.plural }}
       {% else %}
       {{ t.name }}
       {% endif %}
     </li>

     {% for child in children %}
     <li class="{% if this._path == child.path %}active{% endif %}">
       <a href="{{ child.path|url }}">{{ child.title }}</a>
     </li>
     {% endfor %}
     {% endif %}
  {% endfor %}
  </ul>
</li>

{% elif title == 'Tools' %}
<li class="{% if this._path == href %}active{% endif %}">
  <a href="{{ href|url }}">
    {{ title }}
  </a>
</li>

{% else %}
 <li class="{% if this._path == href %}active{% endif %}">
   <a href="{{ href|url }}">
     {{ title }}
   </a>
     {% set children = site.get(href).children %}
     {% if children %}
     <ul>
       {% for child in children %}
         <li class="{% if this._path == child.path %}active{% endif %}">
           <a href="{{ child.path|url }}">{{ child.title }}</a>
         </li>
       {% endfor %}
     </ul>
     {% endif %}
 </li>
 {% endif %}
 {% endfor %}
</ul>
