{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="banner">
  <div class="container">
    <h1>{{ this.title }}</h1>
    {% if this.article_type == 'pilot' %}
    <div class="article-type" data-toggle="tooltip" data-placement="top" title="{{ bag('global_content').pilot_intro }}"><svg><use xlink:href="#icon-rocket" /></svg><span>Pilot</span></div>
    {% endif %}
    {% if this.interviewee %}
    <span class="author">
      {{ bag('global_content').an_interview_with }} {{ this.interviewee }}
    </span>
    {% elif this.author %}
    <span class="author">
      {{ bag('global_content').written_by }} {{ this.author }}
    </span>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="main">

    <aside class="menu">
      <div class="wrapper">
        <nav id="context-nav">
          {% include 'includes/nav.html' %}
        </nav>
      </div>
    </aside>

    <article class="content">
      {% if this.article_type == 'study' %}
      <p class="lead">
        {{ bag('global_content').case_study_intro }}
      </p>
      {% endif %}
      {{ this.body }}
    </article>
  </div>
</div>

{% endblock %}
