{% extends "layout.html" %}
{% block body %}
<div class="banner">
  <div class="container">
    <div class="image" style="background-image: url({{ this.banner_image|url }});">

    </div>
    <div class="text">
      <h1>{{ this.banner_main_text }}</h1>

      <a href="https://www.youtube.com/watch?v=lWHKVXxuci0&amp;rel=0" data-toggle="lightbox" data-width="1280"><svg><use xlink:href="#icon-play" /></svg> {{ this.banner_cta_text }}</a>
    </div>

  </div>
</div>

<div>
  <div class="container">
    <section class="features">
      <div class="feature">
        <svg><use xlink:href="#icon-{{ this.feature1_icon }}" /></svg>
        <h2>{{ this.feature1_heading }}</h2>
        {{ this.feature1_body }}
        <a href="{{ this.feature1_link_url }}">{{ this.feature1_link_text }}</a>
      </div>

      <div class="feature">
        <svg><use xlink:href="#icon-{{ this.feature2_icon }}" /></svg>
        <h2>{{ this.feature2_heading }}</h2>
        {{ this.feature2_body }}
        <a href="{{ this.feature2_link_url }}">{{ this.feature2_link_text }}</a>
      </div>

      <div class="feature">
        <svg><use xlink:href="#icon-{{ this.feature3_icon }}" /></svg>
        <h2>{{ this.feature3_heading }}</h2>
        {{ this.feature3_body }}
        <a href="{{ this.feature3_link_url }}">{{ this.feature3_link_text }}</a>
      </div>
    </section>

    <article class="about">
      <h2>{{ this.about_heading }}</h2>
      <div class="intro">
        {{ this.about_intro }}
        <a class="more-less collapsed" data-toggle="collapse" href="#about-body" aria-expanded="false" aria-controls="about-body">
          Read <span class="more">more</span><span class="slash"> / </span><span class="less">less</span>
        </a>
      </div>

      <div class="collapse" id="about-body">
        {% if this.about_image %}
        <div class="image">
          <img src="{{ this.about_image|url }}" width="{{ this.about_image_width }}" alt="">
        </div>
        {% endif %}
        <div class="body">
          {{ this.about_body }}
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}
